.all-countries-container {
  gap: 2rem;
  padding: 2rem;
}

.all-countries-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.countries-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: all 0.3s ease;
}

.countries-link:hover {
  font-size: 1.1rem;
  color: rgb(30, 105, 30);
}

.input-add {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  padding: 0.5rem;
  width: 15rem;
}

.btn-add {
  width: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10rem;
  background-color: rgb(30, 105, 30);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-add:hover {
  background-color: rgb(20, 70, 20);
}

@media (max-width: 758px) {
  .all-countries-container {
    padding: 1rem;
    gap: 1rem;
  }

  .all-countries-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  .add-country-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .add-country-title {
    justify-self: center;
  }
  .btn-add {
    width: 40%;
  }
}
